@page "/phoneprices"

@using System
@using Microsoft.Extensions.DependencyInjection
@inject NavigationManager Navigation
@inject IServiceProvider ServiceProvider

<h3>Seznam iPhonů</h3>

<button @onclick="LoadPhoneInfo">Load Phone Info</button>

@if (phoneInfo != null && phoneInfo.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phone in phoneInfo)
            {
                <tr>
                    <td>@phone.Name</td>
                    <td>@phone.Price Kč</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Data not loaded.</p>
}

@code {
    private List<(string Name, int? Price)> phoneInfo;

    [Inject]
    private ScrapingService scrapingService { get; set; }

    private async Task LoadPhoneInfo()
    {
        var url = "https://www.alza.cz/iphone/18851638.htm?evt=re&exps=iphone";
        phoneInfo = await scrapingService.ScrapePhoneInfo(url);
    }
}