<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HttpClientDemo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Klikej
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="getdata">
                <span class="oi oi-random" aria-hidden="true"></span> Get Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="phoneprices">
                <span class="oi oi-minus" aria-hidden="true"></span> Phone Prices
            </NavLink>
        </li>
        <li class="nav-item px-2">
            <NavLink class="nav-link" href="decimalconverter" style="font-size: 12px">
                <span class="oi oi-minus" aria-hidden="true"></span> Decimal To Binary Converter
            </NavLink>
        </li>
        <li class="nav-item px-2">
            <NavLink class="nav-link" href="hexatobinconverter" style="font-size: 11px">
                <span class="oi oi-minus" aria-hidden="true"></span> Hexadecimal To Binary Convert
            </NavLink>
        </li>
        <li class="nav-item px-2">
            <NavLink class="nav-link" href="bintohexconverter" style="font-size: 11px">
                <span class="oi oi-minus" aria-hidden="true"></span> Binary To Hexadecimal Convert
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
